<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<mat-card class="content">
  <h1>Sign Up</h1>
  <mat-tab-group mat-stretch-tabs>
    <!--username,
password, fullname, email, phone,
occupation and date of birth. -->
    <mat-tab label="Volunteer">
      <mat-grid-list cols="2" rowHeight="75px" style="width: 420px;" class="mt-3">
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Occupation</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

    <mat-tab label="School Administrator">
      <mat-grid-list cols="2" rowHeight="75px" style="width: 420px;" class="mt-3">
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
  <button mat-raised-button color="primary" class="d-block w-100 mt-3">Sign Up</button>

</mat-card>
