<form [formGroup]="form" class="container mt-5">
  <fieldset formGroupName="admin">
    <legend>Admin Information</legend>
    <div class="mt-2" gdAreas="
        username password |
        email email |
        fullname phoneNo |
        staffId position
      " gdGap="0 1.2rem">

      <mat-form-field appearance="outline" gdArea="username">
        <mat-label>Username</mat-label>
        <input matInput [formControl]="admin.username">
        <mat-error validation-error [control]="admin.username"></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" gdArea="password">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="admin.password">
        <mat-error validation-error [control]="admin.password"></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" gdArea="email">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="admin.email">
        <mat-error validation-error [control]="admin.email"></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" gdArea="fullname">
        <mat-label>Full Name</mat-label>
        <input matInput [formControl]="admin.fullname">
        <mat-error validation-error [control]="admin.fullname"></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" gdArea="phoneNo">
        <mat-label>Phone Number</mat-label>
        <input matInput [formControl]="admin.phoneNo">
        <mat-error validation-error [control]="admin.phoneNo"></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" gdArea="staffId">
        <mat-label>Staff ID</mat-label>
        <input matInput [formControl]="admin.staffId">
        <mat-error validation-error [control]="admin.staffId"></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" gdArea="position">
        <mat-label>Position</mat-label>
        <input matInput [formControl]="admin.position">
        <mat-error validation-error [control]="admin.position"></mat-error>
      </mat-form-field>
    </div>
  </fieldset>

  <button mat-raised-button color="primary" class="d-block w-100 mt-3" (click)="updateProfile()">Update Profile</button>
</form>
