<h1 mat-dialog-title>Request | {{request.type}}</h1>
<mat-divider></mat-divider>
<div fxLayout="column" fxLayoutAlign="center stretch">

  <mat-grid-list cols="2" *ngIf="request.type === 'Tutorial'" rowHeight="50px">
    <mat-grid-tile>Request ID</mat-grid-tile>
    <mat-grid-tile>{{request.id}}</mat-grid-tile>

    <mat-grid-tile> Proposed Date </mat-grid-tile>
    <mat-grid-tile>{{$any(request).proposedDateTime | date : 'dd/MM/yyyy hh:mm aa'}}</mat-grid-tile>

    <mat-grid-tile>Student Level</mat-grid-tile>
    <mat-grid-tile>{{$any(request).studentLevel}}</mat-grid-tile>

    <mat-grid-tile>Expected Number Of Student</mat-grid-tile>
    <mat-grid-tile>{{$any(request).numOfStudent}}</mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" *ngIf="request.type === 'Resource'" rowHeight="50px">
    <mat-grid-tile>Request ID</mat-grid-tile>
    <mat-grid-tile>{{request.id}}</mat-grid-tile>

    <mat-grid-tile> Requested Date </mat-grid-tile>
    <mat-grid-tile>{{$any(request).createdAt | date : 'dd/MM/yyyy hh:mm aa'}}</mat-grid-tile>

    <mat-grid-tile>Resource Type</mat-grid-tile>
    <mat-grid-tile>{{$any(request).resourceType}}</mat-grid-tile>

    <mat-grid-tile>Number Required</mat-grid-tile>
    <mat-grid-tile>{{$any(request).numRequired}}</mat-grid-tile>
  </mat-grid-list>

  <mat-divider></mat-divider>

  <ng-template [ngIf]="isLoggedIn" [ngIfElse]="loggedOut">

    <ng-template [ngIf]="isVolunteer" [ngIfElse]="isAdmin">
      <h2 class="mat-h2">Make an offer</h2>
      <mat-form-field appearance="outline">
        <mat-label>Remarks</mat-label>
        <input matInput [(ngModel)]="remarks">
      </mat-form-field>
      <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" style="margin-bottom: 1px">
        <button mat-raised-button (click)="onCloseClick()">Close</button>
        <button mat-raised-button [mat-dialog-close]="remarks" cdkFocusInitial color="primary">Submit</button>
      </div>
    </ng-template>

    <ng-template #isAdmin>
      <h3 class="text-center my-3"><strong>Only Volunteer account can submit offer</strong></h3>
    </ng-template>

  </ng-template>

  <ng-template #loggedOut fxLayout="column">
    <h2 class="mat-h2"> Kindly login to submit offer </h2>
    <button mat-raised-button color="primary" routerLink="/auth/login" (click)="onCloseClick()">Login</button>
  </ng-template>
</div>

<style>
  mat-grid-list {
    margin: 8px 0 !important;
  }

  mat-grid-list mat-grid-tile:nth-child(odd) {
    font-weight: bold;
  }

  .mat-grid-tile-content {
    right: auto !important;
  }

  .mat-h2 {
    margin-top: 12px !important;
  }
</style>
