.mat-row:hover .mat-cell {
  background-color: #EEE;
  cursor: pointer;
}

.mat-header-cell,
.mat-cell {
  padding: 0 16px;
}

.custom-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../../assets/abstract_background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1000;
}

.mat-row {
  max-height: 50px;
}
